<div id="rotating-wrapper">

           <img class="rotating-item" src="./img/img content/twenty20_c864df20-56f2-4d50-b317-7763db71902e.jpg" height="100%" width="100%" />

           <img class="rotating-item" src="./img/img content/twenty20_45afbf4d-cbdd-4180-ba72-59255010faf5.jpg" height="100%" width="100%" />

           <img class="rotating-item" src="./img/img content/twenty20_98b61978-4601-41a8-b78b-19ffd054afc3.jpg" height="100%" width="100%" />

           <img class="rotating-item" src="./img/img content/twenty20_50189779-9e5e-46dc-b37e-40f08ad5ad5b.jpg" height="100%" width="100%" />

           <img class="rotating-item" src="./img/img content/twenty20_335c991c-ee01-4447-bcbe-a99635da2c4b.jpg" height="100%" width="100%" />

           <img class="rotating-item" src="./img/img content/twenty20_5c07d350-3d89-4eac-8001-6c04f05c2684.jpg" height="100%" width="100%" />

           <img class="rotating-item" src="./img/img content/twenty20_dc22f1ef-ccbb-4aeb-8ec1-aded5ae9f620.jpg" height="100%" width="100%" />

           <img class="rotating-item" src="./img/img content/twenty20_3c347de8-b4e7-49e3-a54c-3e03d9856e6c.jpg" height="100%" width="100%" />

   </div>

   </br>

   <div id="box-to-box-container">
       <div class="box-move"></div>
       <div class="box-move"></div>
       <div class="box-move"></div>
       <div class="box-move"></div>
       <div class="box-move"></div>
       <div class="box-move"></div>
       <div class="box-move"></div>
     </div>


     <div class="what-we-do"> <h1 style="align-self: center">What We Do:</h1>

        <br/>

         <div id="content"> The Plan.  Believes in serving clients honestly & fairly.  Keeping in tune with the needs of the market, utilizing the latest technology and trends while ensuring the client receives the unique, individual attention they deserve.  We strive to be at the forefront of event education and planning.</div>

         <br/>

          <div id="img-icon-wrapper">

            <div class="img-icons"><img src="./img/img content/Norwegian.png" alt="" height="250px" width="250px" /></div>

            <div class="img-icons"><img src="./img/img content/2.png" alt="" height="250px" width="250px" /></div>

            <div class="img-icons"><img src="./img/img content/3.png" alt="" height="250px" width="250px" /></div>

         </div>
      </div>
   </div>

   <div class="main-img-container">
        <div class="img-wrapper">
           <div class="img-contain">
            <img src="./img/img content/twenty20_e2817c48-583a-457e-8948-bc3cbf78df76.jpg" height="400px" width="100%" />
              <span class="text-content"><Span>Online Training Courses For CMPs to Business Owners to Brides & Party Hosts.
                 </br>
                 </br>
                 <div>
                   <a ui-sref="academy">Learn More...</a>
                 </div>
               </span>
            </span>
          </div>

        <div class="img-wrapper">
           <div class="img-contain">
              <img src="./img/img content/twenty20_50189779-9e5e-46dc-b37e-40f08ad5ad5b.jpg" height="400px" width="100%" />
              <span class="text-content"><Span>Learn to Build Your Tribe with Corporate Events.
                  </br>
                  </br>
                  <div>
                    <a ui-sref="corporateEvent">Learn More...</a>
                  </div>
                </span>
              </span>
           </div>
         </div>
      </div>


    <div class="img-wrapper">

       <div class="img-contain"><img src="./img/img content/twenty20_45afbf4d-cbdd-4180-ba72-59255010faf5.jpg" height="400px" width="100%" />

          <span class="text-content"><Span>Plan the Perfect Wedding, Social Event, or Party.
              </br>
              </br>
              <div>
                <a ui-sref="socialEvent">Learn More...</a>
              </div>
            </span>
         </span>
      </div>


    <div class="img-wrapper">

       <div class="img-contain">
         <img src="./img/img content/twenty20_335c991c-ee01-4447-bcbe-a99635da2c4b.jpg" height="400px" width="100%" />

         <span class="text-content"><Span>Get Tips for Decor, Event Set-Up, and Event Planning.
               </br>
               </br>
               <div>
                 <a ui-sref="blog">Learn More...</a>
               </div>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
